{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <h1>Your Shopping list</h1>

  <div>
    <form method ="POST" action="{% url "shopping_item_delete" %}">
      {% csrf_token %}
      <button class = "button">Delete all</button>
    </form>
  </div>
  <ul>
    {% for item in shoppingitem_list%}
    <li>{{ item.food_item }}</li>
    {% endfor %}
  </ul>
</main>
  {% endblock content %}
