{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'mealplan_create' %}">Create</a>
      <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    </div>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      To be served on {{ mealplan.date }}
    </p>

    <p>Recipes: {% for recipe in mealplan.recipes.all %}
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
     </p>
     {% endfor %}
  </main>
  {% endblock content %}
